@charset "utf-8";


/*----- 前进 -----*/
.p-loading-road{
	width:100%;
	height:10px;
	overflow:hidden;
	position:relative;
}
.p-loading-road:before,
.p-loading-road:after,
.p-loading-road i:before,
.p-loading-road i:after{
	position:absolute;
	content:"";
	width:4px;
	height:4px;
	border-radius:50%;
	background-color:#0097FB;
	left:-30%;
	top:50%;
	
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

.p-loading-road:before{
	-webkit-animation-name: p-loading-road-action-1;
	-webkit-animation-delay: 0;
	
	animation-name: p-loading-road-action-1;
	animation-delay: 0;
}
.p-loading-road:after{
	-webkit-animation-name: p-loading-road-action-2;
	-webkit-animation-delay: 0.2s;
	
	animation-name: p-loading-road-action-2;
	animation-delay: 0.2s;
}
.p-loading-road i:before{
	-webkit-animation-name: p-loading-road-action-3;
	-webkit-animation-delay: 0.4s;
	
	animation-name: p-loading-road-action-3;
	animation-delay: 0.4s;
}
.p-loading-road i:after{
	-webkit-animation-name: p-loading-road-action-4;
	-webkit-animation-delay: 0.6s;
	
	animation-name: p-loading-road-action-4;
	animation-delay: 0.6s;
}

@-webkit-keyframes p-loading-road-action-1{
	0% {
		left:-30%;
	}
	51%{
		left:51%;
	}
	52%{
		left:52%;
	}
	53%{
		left:53%;
	}
	54%{
		left:54%;
	}
	55%{
		left:55%;
	}
	100% {
		left:150%;
	}
}

@keyframes p-loading-road-action-1{
	0% {
		left:-30%;
	}
	51%{
		left:51%;
	}
	52%{
		left:52%;
	}
	53%{
		left:53%;
	}
	54%{
		left:54%;
	}
	55%{
		left:55%;
	}
	100% {
		left:150%;
	}
}

@-webkit-keyframes p-loading-road-action-2{
	0% {
		left:-30%;
	}
	48%{
		left:48%;
	}
	49%{
		left:49%;
	}
	50%{
		left:50%;
	}
	51%{
		left:51%;
	}
	52%{
		left:52%;
	}
	
	100% {
		left:150%;
	}
}

@keyframes p-loading-road-action-2{
	0% {
		left:-30%;
	}
	48%{
		left:48%;
	}
	49%{
		left:49%;
	}
	50%{
		left:50%;
	}
	51%{
		left:51%;
	}
	52%{
		left:52%;
	}
	
	100% {
		left:150%;
	}
}

@-webkit-keyframes p-loading-road-action-3{
	0% {
		left:-30%;
	}
	45%{
		left:45%;
	}
	46%{
		left:46%;
	}
	47%{
		left:47%;
	}
	48%{
		left:48%;
	}
	49%{
		left:49%;
	}
	100% {
		left:150%;
	}
}

@keyframes p-loading-road-action-3{
	0% {
		left:-30%;
	}
	45%{
		left:45%;
	}
	46%{
		left:46%;
	}
	47%{
		left:47%;
	}
	48%{
		left:48%;
	}
	49%{
		left:49%;
	}
	100% {
		left:150%;
	}
}

@-webkit-keyframes p-loading-road-action-4{
	0% {
		left:-30%;
	}
	42%{
		left:42%;
	}
	43%{
		left:43%;
	}
	44%{
		left:44%;
	}
	45%{
		left:45%;
	}
	46%{
		left:46%;
	}
	100% {
		left:150%;
	}
}

@keyframes p-loading-road-action-4{
	0% {
		left:-30%;
	}
	42%{
		left:42%;
	}
	43%{
		left:43%;
	}
	44%{
		left:44%;
	}
	45%{
		left:45%;
	}
	46%{
		left:46%;
	}
	100% {
		left:150%;
	}
}



/*----- 转圈 -----*/

.p-loading-circle{
	width:50px;
	height:50px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.p-loading-circle:before,
.p-loading-circle:after,
.p-loading-circle i:before,
.p-loading-circle i:after{
	content:"";
	position:absolute;
	width:50px;
	height:50px;
	left:0;
	top:0;
	border-radius: 50%;
	box-shadow: 28px 0px 0px -23px #0097FB;
	
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	
	animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

.p-loading-circle:before{
	-webkit-animation-name: p-loading-circle-action-1;
	-webkit-animation-delay: 0;
	
	animation-name: p-loading-circle-action-1;
	animation-delay: 0;
}
.p-loading-circle:after{
	-webkit-animation-name: p-loading-circle-action-2;
	-webkit-animation-delay: 0.2s;
	
	animation-name: p-loading-circle-action-2;
	animation-delay: 0.2s;
}

.p-loading-circle i:before{
	-webkit-animation-name: p-loading-circle-action-3;
	-webkit-animation-delay: 0.4s;
	
	animation-name: p-loading-circle-action-3;
	animation-delay: 0.4s;
}
.p-loading-circle i:after{
	-webkit-animation-name: p-loading-circle-action-4;
	-webkit-animation-delay: 0.6s;
	
	animation-name: p-loading-circle-action-4;
	animation-delay: 0.6s;
}

@-webkit-keyframes p-loading-circle-action-1{
	0% {
		transform:rotate(0deg);
	}
	5%{
		transform:rotate(2deg);
	}
	10%{
		transform:rotate(4deg);
	}
	15%{
		transform:rotate(5deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
@keyframes p-loading-circle-action-1{
	0% {
		transform:rotate(0deg);
	}
	5%{
		transform:rotate(2deg);
	}
	10%{
		transform:rotate(4deg);
	}
	15%{
		transform:rotate(5deg);
	}
	100% {
		transform:rotate(360deg);
	}
}


@-webkit-keyframes p-loading-circle-action-2{
	0% {
		transform:rotate(-10deg);
	}
	5%{
		transform:rotate(-8deg);
	}
	10%{
		transform:rotate(-6deg);
	}
	15%{
		transform:rotate(-4deg);
	}
	100% {
		transform:rotate(350deg);
	}
}
@keyframes p-loading-circle-action-2{
	0% {
		transform:rotate(-10deg);
	}
	5%{
		transform:rotate(-8deg);
	}
	10%{
		transform:rotate(-6deg);
	}
	15%{
		transform:rotate(-4deg);
	}
	100% {
		transform:rotate(350deg);
	}
}

@-webkit-keyframes p-loading-circle-action-3{
	0% {
		transform:rotate(-20deg);
	}
	5%{
		transform:rotate(-18deg);
	}
	10%{
		transform:rotate(-16deg);
	}
	15%{
		transform:rotate(-14deg);
	}
	100% {
		transform:rotate(340deg);
	}
}
@keyframes p-loading-circle-action-3{
	0% {
		transform:rotate(-20deg);
	}
	5%{
		transform:rotate(-18deg);
	}
	10%{
		transform:rotate(-16deg);
	}
	15%{
		transform:rotate(-14deg);
	}
	100% {
		transform:rotate(340deg);
	}
}

@-webkit-keyframes p-loading-circle-action-4{
	0% {
		transform:rotate(-30deg);
	}
	5%{
		transform:rotate(-28deg);
	}
	10%{
		transform:rotate(-26deg);
	}
	15%{
		transform:rotate(-24deg);
	}
	100% {
		transform:rotate(330deg);
	}
}
@keyframes p-loading-circle-action-4{
	0% {
		transform:rotate(-30deg);
	}
	5%{
		transform:rotate(-28deg);
	}
	10%{
		transform:rotate(-26deg);
	}
	15%{
		transform:rotate(-24deg);
	}
	100% {
		transform:rotate(330deg);
	}
}


/*----- 泡泡 -----*/
.p-loading-bubble{
	width:50px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.p-loading-bubble:before,
.p-loading-bubble:after,
.p-loading-bubble i:before,
.p-loading-bubble i:after{
	position:absolute;
	content:"";
	width:0;
	height:0;
	border:1px solid #0097FB;
	border-radius:50%;
	left:25px;
	top:25px;
	opacity:0;
	
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	
	animation-duration: 2.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

.p-loading-bubble:before{
	-webkit-animation-name: p-loading-bubble-action-1;
	-webkit-animation-delay: 0;
	
	animation-name: p-loading-bubble-action-1;
	animation-delay: 0;
}

.p-loading-bubble:after{
	-webkit-animation-name: p-loading-bubble-action-1;
	-webkit-animation-delay: 0.2s;
	
	animation-name: p-loading-bubble-action-1;
	animation-delay: 0.2s;
}

.p-loading-bubble i:before{
	-webkit-animation-name: p-loading-bubble-action-1;
	-webkit-animation-delay: 0.5s;
	
	animation-name: p-loading-bubble-action-1;
	animation-delay: 0.5s;
}

.p-loading-bubble i:after{
	-webkit-animation-name: p-loading-bubble-action-1;
	-webkit-animation-delay: 0.9s;
	
	animation-name: p-loading-bubble-action-1;
	animation-delay: 0.9s;
}


@-webkit-keyframes p-loading-bubble-action-1{
	0% {
		width:0;
		height:0;
		left:25px;
		top:25px;
		opacity:1;
	}
	100% {
		width:50px;
		height:50px;
		left:0px;
		top:0px;
		opacity:0;
	}
}
@keyframes p-loading-bubble-action-1{
	0% {
		width:0;
		height:0;
		left:25px;
		top:25px;
		opacity:1;
	}
	100% {
		width:50px;
		height:50px;
		left:0px;
		top:0px;
		opacity:0;
	}
}


/*----- 心跳 -----*/
.p-loading-heart{
	width:100%;
	height:10px;
	position:relative;
}
.p-loading-heart:before{
	position:absolute;
	content:"";
	width:4px;
	height:4px;
	border-radius:50%;
	background-color:#0097FB;
	left:-30%;
	top:0;
	
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

.p-loading-heart:before{
	-webkit-animation-name: p-loading-heart-action-1;
	-webkit-animation-delay: 0;
	
	animation-name: p-loading-heart-action-1;
	animation-delay: 0;
}


@-webkit-keyframes p-loading-heart-action-1{
	0% {
		left:0%;
		opacity:0;
	}
	40%{
		left:40%;
		top:0;
		opacity:1;
	}
	50%{
		left:45%;
		top:-30px;
	}
	60%{
		left:50%;
		top:30px;
	}
	70%{
		left:55%;
		top:0;
		opacity:1;
	}
	100% {
		left:100%;
		opacity:0;
	}
}
@keyframes p-loading-heart-action-1{
	0% {
		left:0%;
		opacity:0;
	}
	40%{
		left:40%;
		top:0;
		opacity:1;
	}
	50%{
		left:45%;
		top:-30px;
	}
	60%{
		left:50%;
		top:30px;
	}
	70%{
		left:55%;
		top:0;
		opacity:1;
	}
	100% {
		left:100%;
		opacity:0;
	}
}



/*----- 微信 -----*/
.p-loading-weixin{
  width: 30px;
  height:30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.p-loading-weixin:before{
	position:absolute;
	content:"";
	width: 22px;
	height: 22px;
	border-radius:50%;
  border-width:4px;
  border-style:solid;
  border-color:#222 #222 #222 #0097FB;
  opacity:0.8;
  left:0;
  top:0;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

.p-loading-weixin:before{
	-webkit-animation-name: p-loading-weixin-action-1;
	-webkit-animation-delay: 0;
	
	animation-name: p-loading-weixin-action-1;
	animation-delay: 0;
}

@keyframes p-loading-weixin-action-1{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}

@-webkit-keyframes p-loading-weixin-action-1{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}









